* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: whitesmoke;
  height: 120%;
}
hr {
  display: block;
  width: 100%;
  padding: 0.5px;
  margin: 6px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-style: 9rem;
}
h3 {
  font-size: 2.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

select {
  font-size: 1.5rem;
  padding: 0.4rem 2rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

p {
  font-size: 1.5rem;
  text-align: justify;
}
input {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0 1rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
}
button {
  color: white;
  padding: 0.5rem 4rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  background: green;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
}

/*header*/
header {
  z-index: 34;
  position: sticky;
  top: 0%;
}
/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 7vh;
  padding: 1rem 1rem;
  position: sticky;
  top: 0%;
  color: white;
  background: rgb(84, 63, 199);
}

.logo {
  flex: 1 1 20rem;
}
nav ul {
  list-style: none;
  flex: 1 2 20rem;
  display: flex;
  justify-items: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav a {
  color: white;
}
nav ul li {
  flex: 1 1 5rem;
}

/*form*/
fieldset {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1.5rem;
  width: 40%;
  margin: 5rem auto;
  padding-bottom: 0.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

fieldset p,
fieldset h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.name-surname {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39rem;
  margin: auto;
}
.firstName input,
.surname input {
  width: 17rem;
  margin: auto;
}

.firstName,
.surname {
  flex: 1 1 0.5rem;
  padding: 0rem 0.8rem;
  width: 20rem;
}

fieldset div {
  flex: 1 1 0.4rem;
  padding: 0.5rem 0.5rem;
}

fieldset div span {
  padding: 0rem 1.3rem;
  font-size: 1.5rem;
}

.num,
.mail,
.addre,
.password {
  padding: 0.5rem 0rem 0.5rem 1.3rem;
}

.gender,
.maritals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex: 1 1 0.5rem;
  flex-direction: row;
}
.gender button,
.maritals button {
  flex: 1 1 0.5rem;
  padding: 1.2rem 0.8rem;
  margin: 0.5rem;
  width: 11.2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background: white;
  color: black;
}
.date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.date #day,
.date #month,
.date #year {
  flex: 1 1 0.5rem;
  padding: 1.2rem 0.8rem;
  margin: 0.5rem;
  width: 10rem;
}

.addre input,
.num input,
.mail input,
.password input {
  width: 36rem;
  transform: translateX(-3%);
  -webkit-transform: translateX(-3%);
  -moz-transform: translateX(-3%);
  -ms-transform: translateX(-3%);
  -o-transform: translateX(-3%);
}

label {
  font-size: 1.5rem;
}

#terms {
  font-size: 0.9rem;
}
#hobby-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.hob {
  display: flex;
  flex-wrap: nowrap;
}
#hobby-list span {
  flex: 1 1 0.9rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 398px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 265px) {
  html {
    font-size: 35%;
  }
}
